In [8]:
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
df=pd.read_csv('CoronavirusTweets.csv',encoding='latin-1')
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,NaN,NaN,NaN
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,NaN,NaN,NaN
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,NaN,NaN,NaN
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive,NaN,NaN,NaN
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative,NaN,NaN,NaN

In [6]:
df['Date'] = pd.to_datetime(df['TweetAt'], format='%d-%m-%Y')
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,Unnamed: 6,Unnamed: 7,Unnamed: 8,Date
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,NaN,NaN,NaN,2020-03-16
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,NaN,NaN,NaN,2020-03-16
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,NaN,NaN,NaN,2020-03-16
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive,NaN,NaN,NaN,2020-03-16
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative,NaN,NaN,NaN,2020-03-16

### which month had the most negative sentiment towards covid 19

In [9]:
df['month'] = df['Date'].apply(lambda x: datetime.strftime(x, '%B'))

In [10]:
neg_tweets = df[df['Sentiment'] == 'Negative']

In [11]:
neg_tweets_by_month = neg_tweets['month'].value_counts()

In [12]:
most_negative_month = neg_tweets_by_month.index[0]

print("The month with the most negative sentiment towards COVID-19 is:", most_negative_month)

The month with the most negative sentiment towards COVID-19 is: March

### which country has most positive sentiment towards covid 19

In [13]:
positive_tweets = df[df['Sentiment']=='Positive']

In [14]:
Location_counts = positive_tweets['Location'].value_counts()

In [16]:
most_positive_Location = Location_counts.index[0]
print(f"The country with the most positive sentiment towards COVID-19 is: {most_positive_Location}")

The country with the most positive sentiment towards COVID-19 is: London

### what percentage of the tweets in the dataset are neutral towards covid 19

In [17]:
neutral_tweets = df[df['Sentiment']=='Neutral']
neutral_percentage = (len(neutral_tweets)/len(df))*100

print(f"The percentage of neutral tweets towards COVID-19 in the dataset is {neutral_percentage:.2f}%")

The percentage of neutral tweets towards COVID-19 in the dataset is 18.74%